<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{notempty name="$title"}{$title}{/notempty}</title>
<meta name="keywords" content="{notempty name='$keywords'}{$keywords}{/notempty}" />
<meta name="description" content="{notempty name='$description'}{$description}{/notempty}" />

<!-- <script src="__JS__/jquery-3.4.1.min.js"></script> -->
<script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
<script src="__JS__/promise-ajax.js"></script>
<script src="__JS__/layui/layui.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
</head>

<body>

    <!-- 头部 -->
    {include file="Public/header-index"/}
    
    {block name="main"}
    <!-- 主内容 -->
    {/block}
        
    
</body>
</html>