{extend name="base/common" /}
{block name="title"}平台设置{/block}

{block name="main"}
    
    <!--  -->
    <div class="rbox">
        <div class="top">
            <h2>平台设置</h2>
            <div class="links">
                [
                {volist name=":getConfigGroup()" id="group"}
                    <a href="{:url('/system/platformSettings',array('group'=>$group[0]))}" {eq name="group[0]" value="$group_id"}class="hov"{/eq}>{$group[1]}</a>
                {/volist} 
                ]
            </div>
        </div>
        <div class="btm">
            <form id="myForm">
                <table border="0" cellpadding="0" cellspacing="0" class="table02">
                    {volist name="list" id="doc"}
                        {switch doc.type}
                            {case textarea}
                                <tr>
                                    <td>{$doc.title}（{$doc.description|htmlspecialchars_decode}）：</td>
                                </tr>
                                <tr>
                                    <td><textarea class="inarea" name="{$doc['name']}|{$doc['id']}" {eq name="doc['name']" value="WEB_INDUSTRY"}style="width: 800px;"{/eq}>{$doc['value']|default=''}</textarea></td>
                                </tr>
                            {/case}
                            {case string}
                                <tr>
                                    <td>{$doc.title}（{:htmlspecialchars_decode($doc.description)}）：</td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="intxt" name="{$doc['name']}|{$doc['id']}" value="{$doc['value']|default=''}"></td>
                                </tr>
                            {/case}
                            {case int}
                                <tr>
                                    <td>{$doc.title}（{:htmlspecialchars_decode($doc.description)}）：</td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="intxt" name="{$doc['name']}|{$doc['id']}" value="{$doc['value']|default=''}"></td>
                                </tr>
                            {/case}
                            {case boolean}
                                <tr>
                                    <td>{$doc.title}（{:htmlspecialchars_decode($doc.description)}）：</td>
                                </tr>
                                <tr>
                                    {volist name=":strInArr($doc['extra'])" id="extra"}
                                    <td><input type="radio" class="inradio" name="{$doc['name']}|{$doc['id']}" value="{$extra[0]}" {eq name="extra[0]" value="$doc['value']"}checked{/eq}>{$extra[1]}</td>
                                    {/volist}
                                </tr>
                            {/case}
                            {case select}
                                <tr>
                                    <td>{$doc.title}（{:htmlspecialchars_decode($doc.description)}）：</td>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="{$doc['name']}|{$doc['id']}"class="insele">
                                        {volist name=":strInArr($doc['extra'])" id="extra"}
                                            <option value="{$extra[0]}" {eq name="extra[0]" value="$doc['value']"}selected{/eq}>{$extra[1]}</option>
                                        {/volist}
                                        </select>
                                    </td>
                                </tr>
                            {/case}
                            {case file}
                                <tr>
                                    <td>{$doc.title}（{:htmlspecialchars_decode($doc.description)}）：</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="layui-upload">
                                            {assign name="file" value=":getImagePath($doc['value'])"/}
                                            <input type="file" class="layui-btn" name="file">
                                            <span class="file-name" title="{$file}">{$file}</span>
                                            <span class="inbtn file-inbtn" style="width: 70px;height: 36px;line-height: 36px;">上传</span>
                                            <input type="hidden" class="hidden-name" name="{$doc['name']}|{$doc['id']}" value="{$doc['value']|default=''}">
                                            <div class="layui-upload-list">
                                                {notempty name="$file"}
                                                <a href="{$file}" target="_blank">
                                                    <img src="{$file}" class="layui-upload-img">
                                                </a>
                                                {/notempty}
                                            </div>
                                          </div>
                                    </td>
                                </tr>
                            {/case}
                        {/switch}
                    {/volist}
                    <tr>
                        <td><a href="javascript:;" class="inbtn formButton">确认</a></td>
                    </tr>
                   
                </table>
            </form>
        </div>
    </div>
    <!--  -->
    <style>
        input.layui-btn{width: 4.5%;}
        .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
        .file-name{display: inline-block;vertical-align: middle;font-size: 15px;color: #333;line-height: 30px;text-align: center;width: 146px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
    </style>
    <script>
        layui.use(['layer'], function(){
            const layer = layui.layer;
            layer.load();

            layer.closeAll('loading');

            $('#myForm').on('click','.formButton',function(){
                $(this).attr('disabled','disabled');
                layer.load();
                const formData = new FormData($('#myForm')[0]);
                parimesPost("/system/platformSettings",formData).then((res)=>{
                    layer.msg(res.Msg);
                    if(res.status==1){
                        // 跳转
                        setTimeout(() => {
                            window.location.reload();
                        }, 1500);
                        
                    }
                }).catch((error)=>{
                    layer.msg(error);
                })
                $(this).removeAttr('disabled');
                layer.closeAll('loading');
            })


            // 文件选择
            $('.layui-upload').on('change','input[name="file"]',function(){
                const files = $(this).prop('files');
                if(!files[0]){
                    console.log(files);
                    return false;
                }
                const src = window.URL.createObjectURL(files[0]);
                const size = (files[0].size/1024/1024).toFixed(2)+'M';
                const img = `<a href="${src}" target="_blank">
                                <img src="${src}" class="layui-upload-img">
                            </a>`;
                $(this).siblings('.file-name').text(`【${size}】${files[0].name}`);
                $(this).siblings('.file-name').prop('title',`【${size}】${files[0].name}`);
                $(this).siblings('.layui-upload-list').children('a').remove();
                $(this).siblings('.layui-upload-list').append(img);
            })
            // 文件上传
            $('.layui-upload').on('click','.file-inbtn',function(){
                $(this).attr('disabled','disabled');
                layer.load();
                const that = $(this);
                const formData = new FormData();
                const files = $(this).siblings('input[name="file"]').prop('files');
                if(!files[0]){
                    layer.closeAll('loading');
                    layer.msg('文件数据丢失,请刷新重选');
                    return false;
                }
                formData.set('file',files[0]);
                parimesPost("/system/uploadImg",formData).then((res)=>{
                    if(res.status==1){
                        layer.msg('上传成功');
                        that.siblings('.hidden-name').val(res.id);
                    }else{
                        layer.msg(res.Msg);
                    }
                }).catch((error)=>{
                    layer.msg(error);
                })
                $(this).removeAttr('disabled');
                layer.closeAll('loading');
            })
        })
    </script>
{/block}