{:leftCategory($url)}

<!-- <ul>
    <li><a href="{:url('/user/center')}" class="name"><i><img src="__IMG__/c01.png"></i><b>管理首页</b></a></li>
    <li>
        <a href="javascript:;" class="name down"><i><img src="__IMG__/c02.png"></i><b>管理员设置</b></a>
        <dl style="display: block;">
            <dd><a href="{:url('/user/addUser')}" class="tits">新增用户</a></dd>
            <dd>
                <a href="javascript:;" class="tits down">权限管理</a>
                <ol style="display: block;">
                    <li><a href="{:url('/rule/authorityGroupList')}" class="tit">权限分组</a></li>
                    <li><a href="{:url('/rule/authorityList')}" class="tit">规则列表</a></li>
                    <li><a href="{:url('/user/listUser')}" class="tit">用户授权</a></li>
                </ol>
            </dd>					
            <dd><a href="{:url('/user/log')}" class="tits">用户行为</a></dd>
        </dl>
    </li>
    <li>
        <a href="javascript:;" class="name down"><i><img src="__IMG__/c07.png"></i><b>企业端管理</b></a>
        <dl>
            <dd><a href="{:url('/audit/bossAccountList')}" class="tits"><i><img src="__IMG__/c03.png"></i><b>企业账号审核</b></a></dd>
            <dd><a href="{:url('/audit/bossReleaseList')}" class="tits"><i><img src="__IMG__/c05.png"></i><b>需求审核</b></a></dd>
            <dd><a href="{:url('/audit/bossContractReviewL')}" class="tits"><i><img src="__IMG__/c06.png"></i><b>企业签约审核</b></a></dd>
        </dl>
    </li>
    <li>
        <a href="javascript:;" class="name down"><i><img src="__IMG__/c07.png"></i><b>职业者端管理</b></a>
        <dl>
            <dd><a href="{:url('/audit/workerAccountList')}" class="tits"><i><img src="__IMG__/c04.png"></i><b>职业者账号审核</b></a></dd>
            <dd><a href="{:url('/audit/workerContractReviewL')}" class="tits"><i><img src="__IMG__/c07.png"></i><b>职业者签约审核</b></a></dd>
        </dl>
    </li>
    
    <li>
        <a href="javascript:;" class="name down"><i><img src="__IMG__/c08.png"></i><b>费用结算</b></a>
        <dl style="display:block;">
            <dd><a href="{:url('/money/budgetSalary')}" class="tits">预算所得</a></dd>
        </dl>
    </li>

    <li><a href="javescript:;" class="name"><i><img src="__IMG__/c08.png"></i><b>发票管理</b></a></li>
    <li>
        <a href="javescript:;" class="name down"><i><img src="__IMG__/c09.png"></i><b>系统设置</b></a>
        <dl>
            <dd><a href="{:url('/system/platformSettings')}" class="tits">平台设置</a></dd>
            <dd><a href="{:url('/system/configValue')}" class="tits">参数配置</a></dd>
        </dl>
    </li>
</ul> -->
<ul class="out">
    <li><a href="{:url('/user/logOut')}" class="name"><i><img src="__IMG__/c10.png"></i><b>退出系统</b></a></li>
</ul>