{extend name="base/common-other"/}
{block name="main"}
<div class="sbanner">
    <img src="__IMG__/banner_guanyu.jpg" width="100%">
</div>

<div class="about">
	<div class="l">
		<h2>湖南椒粉科技有限公司</h2>
		<p>湖南椒粉科技有限公司在接受本合同之前，客户应仔细阅读本合同的全部内容，特别是标注为黑色的内容。如果客户对合同条款有疑问，可向甲方提出并可要求解释；如果客户签署了本合同，表示已经接受合同条款的约束，届时客户不应以合同条款“显示公平”或者其他理由主张无效、或者撤销；为维护客户的合法权益，甲方对本合同中影响到客户权益的条款作了特别标注，并对客户做充分解释与说明。乙方签订本合同，表明其对条款所涉相关内容已经完全了解。</p>
		<p>平台：是指由甲方现在或将来拥有合法运营管理的、提供给客户  技术服务的网络服务平台，包括但不限于  平台，以及未来可能新设或者合作的网络平台等；用户：即在甲方平台上注册，并使用其注册账户发布商务服务、灵活用工等信息，通过平台发布的信息获取商品或者服务，取得共享经济利益的法人或者非法人组织；商服信息：是指用户在甲方平台上发布的展示商品、服务以及措施等信息，是用户向不特定的对象发出的要约，一旦相对人接受或者购买用户发布的信息，即构成合同关系成立；灵活用工：是指企业（包括个体工商户）短期或者项目型地用工模式，即企业基于用人的季节性需求，灵活地按实际需求聘用人才，完成企业指定工作，而企业与人才之间不建立劳动关系和劳务关系的用工模式。服务费：是指甲方为乙方提供商品展示以及其他服务后，按本合同约定比例收取的报酬（代缴的税费除外）；</p>
	</div>
	<div class="r">
		<img src="__IMG__/gy01.jpg">
	</div>
	<div style="clear:both;"></div>
</div>

<div class="i03">
	<div class="t">
		<h2>更多企业共同选择 规范税务管理</h2>
		<p>拥有人资、财税智慧平台技术与产品积累</p>
	</div>
	<div class="b">
		<img src="__IMG__/i03-1.jpg">
	</div>
</div>


<div class="i04">
	<h1>仅需1步，</h1>
	<h3>即刻预约体验您的税务管理平台</h3>
	<a href="#" class="tijiao">立即提交</a>
</div>
{/block}