{extend name="base/common-other"/}
{block name="main"}
    <div class="sbanner">
        <img src="__IMG__/banner_jiaru.jpg" width="100%">
    </div>

    <div class="join">
        <div class="t">
            <h2>规范税务管理 降低企业成本</h2>
            <p>服务100万人，成就100亿企业</p>
        </div>
        <div class="b">
            <p>湖南椒粉科技有限公司作为中国互联网社保的开创者，是一家以技术驱动的企业社保服务提供商。通过独特创新的4S模式（“方案Solution+系统System+共享服务Shared Service”）针对标准化用工、灵活用工和特殊人才用工等多种用工形式，为企业提供综合性人力资源共享服务解决方案。</p>
            <p>截止目前，湖南椒粉科技有限公司已在全国一二线城市共设立109 家直营分公司，为36,000+企业客户，1,400,000+个人用户，700+上市企业提供降本增效、控制用工风险和提高员工福利等方面的高品质的直营服务。</p>
            <p>同时，湖南椒粉科技有限公司曾荣获国家级高新技术企业认证，是少数获得多项国家核心专利技术的社保服务商，并且也是业内唯一一家支持所有服务唯一编号查询、全流程线记录线上追溯、服务结果全流程截图验真、全流程满意度评价的互联网社保服务。</p>
        </div>
        <div class="c">
            <div class="i04">
                <h1>仅需1步，</h1>
                <h3>即刻预约体验您的税务管理平台</h3>
                <a href="#" class="tijiao">立即提交</a>
            </div>
        </div>
    </div>

    <div class="i03">
        <div class="t">
            <h2>更多企业共同选择 规范税务管理</h2>
            <p>拥有人资、财税智慧平台技术与产品积累</p>
        </div>
        <div class="b">
            <img src="__IMG__/i03-1.jpg">
        </div>
    </div>

{/block}