{extend name="base/common-other"/}
{block name="main"}
    <div class="sbanner">
        <img src="__IMG__/banner_hezuo.jpg" width="100%">
    </div>

    <div class="i03 pd80">
        <div class="t">
            <h2>更多企业共同选择 规范税务管理</h2>
            <p>拥有人资、财税智慧平台技术与产品积累</p>
        </div>
        <div class="b">
            <img src="__IMG__/i03-1.jpg">
        </div>
    </div>


    <div class="i04">
        <h1>仅需1步，</h1>
        <h3>即刻预约体验您的税务管理平台</h3>
        <a href="#" class="tijiao">立即提交</a>
    </div>
{/block}