{extend name="base/common-other"/}
{block name="main"}
<div class="sbanner">
    <img src="__IMG__/banner_jieshao.jpg" width="100%">
</div>

<div class="i01">
	<div class="t">
		<h2>智能税务管理平台</h2>
	</div>
	<div class="b">
		<p>椒粉科技作为推动企业组织结构优化，帮助人才与企业合法合规对接的智能税务管理平台，让人才享受高效、快捷的<br>能力共享服务，也为企业成功解决税务管理问题，降低企业成本。</p>
	</div>
</div>

<div class="id01" style="padding-bottom: 80px;">
        <div class="t">
            <h2>平台价值</h2>
            <p>创新业务模式</p>
        </div>
        <div class="b">
            <div class="l">
                <p>平台创新业务模式，帮助人才与企业合规对接，双方遵循“风险共担，利益共享”原则，建立平等的业务承揽机制，让人才享受便捷服务。</p>
                <p><br></p>
                <p><span>对个人：完成应税申报，降低税务成本</span></p>
                <p>利用平台资源优势，帮助平台上灵活用工人才承揽业务，并完成应税事项申报，享受税收优惠政策，合法减少人才在共享经济中应交税金。</p>
                <p><br></p>
                <p><span>对企业：获取合规税务发票，规范税务管理</span></p>
                <p>利用创新业务模式帮助企业重构用工制度，发布用工信息，招揽各类人才，取得合规税务发票，达到税务合规要求。</p>
            </div>
            <div class="r">
                <img src="__IMG__/id01.jpg">
            </div>
        </div>
    </div> 

    <div class="id03bar">
        <div class="id03">
            <div class="t">
                <h2>平台优势</h2>
                <p>助力企业内部组织变革 重构企业与个人的关系</p>
            </div>
            <div class="b">
                <ul>
                    <li>
                        <i><img src="__IMG__/id-icon01.png"></i>
                        <div class="text">
                            <h3>合法合规</h3>
                            <p>政策扶持，合规享受优惠</p>
                        </div>
                    </li>
                    <li>
                        <i><img src="__IMG__/id-icon02.png"></i>
                        <div class="text">
                            <h3>资金安全</h3>
                            <p>各方监管，流程多点控制</p>
                        </div>
                    </li>
                    <li>
                        <i><img src="__IMG__/id-icon03.png"></i>
                        <div class="text">
                            <h3>数据加密</h3>
                            <p>秘密认证，杜绝数据泄漏</p>
                        </div>
                    </li>
                    <li>
                        <i><img src="__IMG__/id-icon04.png"></i>
                        <div class="text">
                            <h3>票税无忧</h3>
                            <p>协助申报，发票税局开具</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
	<div class="id04">
        <div class="t">
            <h2>多元化用工结构的人资财税服务</h2>
            <p>专业、系统、高效化服务、一站式生态服务体系</p>
        </div>
        <div class="b">
            <img src="__IMG__/id04.jpg">
        </div>
    </div>

{/block}