<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
</head>
<body class="indexbody">
<div class="homebg">
	<div class="header-top">
		<div class="header">
			<a href="/" class="logo"><img src="__IMG__/logo.png" title="" alt=""></a>
			<div class="hp">
				<span>{:C('WEB_PLATFORM_PHONE')}</span>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	
</div>
<div class="imgbox">
	<img src="__IMG__/xcx-bg.jpg" width="100%" style="display: block;">
</div>
<div class="footerbar">
	<div class="fb">
		<p>{:C('WEB_COPYRIGHT')} {:C('WEB_CASE_NUMBER')}  技术支持：蒲公英<a href="http://www.0731pgy.com/" target="_blank">长沙网站建设</a></p>
	</div>
</div>
</body>
</html>