<div class="header-c">
	<a href="/" class="logo"><img src="__IMG__/logo.png"><i></i><b>规范税务管理，降低企业成本</b></a>
	<div class="r">
        <div class="box">
            <i><img src="__IMG__/h-tx.png"></i>
            <p>{$Think.session.Nickname.username}</p>
            <i><img src="__IMG__/h-icon01.png"></i>
        </div>
        <div class="lists">
            <ul>
                <li><a href="{:url('/user/logOut')}" class="logout">退出</a></li>
            </ul>
        </div>
        
	</div>
	<div style="clear: both;"></div>
</div>