<div class="headerbar headerbarhov" style="position: relative;">
	<div class="header">
		<div class="logobox" style="display: block;">
			<a href="/" class="logo02" style="display: block;"><img src="__IMG__/logo02.png"></a>
		</div>
		<div class="links">
			<ul class="fixed">
				<li>
					<a href="{:url('/boss/login')}" class="name">企业登录</a>
					<!-- <div class="login-list">
						<div class="l-bg"></div>
						<div class="fd">
							<a href="{:url('/login/login')}">平台管理端</a>
							<a href="{:url('/boss/login')}">企业管理端</a>
							<a href="javascript:;">自由职业者端</a>
						</div>						
					</div> -->
				</li>
				<li><a href="{:url('/weChatMiniProgram')}" class="name">职业者注册</a></li>
			</ul>
			<!-- <ul class="hover">
				<li>
					<a href="javascript:;" class="name">登录</a>
					<div class="login-list">
						<div class="l-bg"></div>
						<div class="fd">
							<a href="{:url('/login/login')}">平台管理端</a>
							<a href="{:url('/boss/login')}">企业管理端</a>
							<a href="javascript:;">自由职业者端</a>
						</div>
					</div>
				</li>
				<li><a href="{:url('/boss/register')}" class="name">注册</a></li>
			</ul> -->
		</div>
		<div class="nav">
			<ul>
				{volist name="category" id="doc"}
				<li {eq name="doc.hov" value="1"}class="hov"{/eq}><a href="{:url('/'.$doc['url'])}">{$doc.title}</a></li>
				{/volist}
			</ul>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>