<div class="headerbar headerbarhov" style="position: relative;">
	<div class="header">
		<div class="logobox" style="display: block;">
			<a href="/" class="logo02" style="display: block;"><img src="__IMG__/logo02.png"></a>
		</div>
		<div class="links">
			<ul class="fixed">
				<li>
					<a href="javascript:;" class="name">企业登录</a>
				</li>
				<li><a href="javascript:;" class="name">职业者注册</a></li>
			</ul>
		</div>
		<div class="nav">
			<ul>
				{volist name="nav" id="doc"}
				<li {eq name="doc.hov" value="1"}class="hov"{/eq}><a href="{:url('/'.$doc['url'])}">{$doc.title}</a></li>
				{/volist}
			</ul>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>