{extend name="base/common" /}
{block name="title"}新增管理用户{/block}

{block name="main"}

    <!-- <h3><a href="{:url('/user/addUser')}">新增用户</a></h3> -->

    <div class="rbox">
        <div class="top">
            <h2>新增管理用户</h2>
        </div>
        <div class="ctr">
				<a href="{:url('/user/addUser')}" class="add">新增用户</a>
			</div>
        <div class="btm">
            <table class="table01" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>ID</th>
                    <th>用户</th>
                    <th>登陆次数</th>
                    <th>最后登录IP</th>
                    <th>最后登录时间</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                {volist name="list" id="doc"}
                <tr>
                    <td>{$doc.id}</td>
                    <td>{$doc.username}</td>
                    <td>{$doc.login_num}</td>
                    <td>{$doc.ip}</td>
                    <td>{$doc.last_login|date="Y-m-d H:i:s"}</td>
                    <td>{$doc.status==1?'启用':'禁用'}</td>
                    <td>{$doc.create_time|date="Y-m-d H:i:s"}</td>
                    <td>
                        <a href="{:url('/user/editUser',array('id'=>$doc['id']))}">编辑</a>
                        <a href="javascript:;" class="edit-pwd" rel-id="{$doc.id}">修改密码</a>
                        <a href="{:url('/user/authorizationUser',array('id'=>$doc['id']))}">授权分组</a>
                        <a href="javascript:;" onclick="if(confirm('您确定要删除吗?')){ $(this).attr('href',`{:url('/user/dleteUser',array('id'=>$doc['id']))}`)}">删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
        </div>
    </div>
    <!-- 修改密码 -->
    <!-- 弹出修改密码框 -->
    <div class="bg" style="display: none;"></div>
    <div class="change" style="display: none;">
        <div class="t">
            <h2>修改密码</h2>
            <a href="javascript:;" class="mm-close">&times;</a>
            <div style="clear:both;"></div>
        </div>
        <div class="b">
            <form action="" id="myForm_pwd">
                <table width="380" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                    <tr>
                        <td align="right" width="75" style="padding-right: 10px">新密码：</td>
                        <td><input type="password" class="intxt" name="password"></td>
                    </tr>
                    <tr>
                        <td align="right" width="75" style="padding-right: 10px">确认密码：</td>
                        <td><input type="password" class="intxt" name="password_confirm"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="button" class="inbtn" value="确认" id="formButton_pwd"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <script>
        layui.use(['layer'], function(){
            const layer = layui.layer;

            // 修改密码 (窗口开启)
            $('table td').on('click','a.edit-pwd',function(){
                const id = $(this).attr('rel-id');
                $('.bg').css('display','block');
                $('.change').css('display','block');
                if($('#myForm_pwd input[name="id"]').length){
                    $('#myForm_pwd input[name="id"]').val(id);
                }else{
                    $('#myForm_pwd td:last').append(`<input type="hidden" name="id" value="${id}">`);
                }
                
            })
            // (窗口关闭)
            $('.change .mm-close').click(function(){
                $('.bg').css('display','none');
                $('.change').css('display','none');
            })
            $('form #formButton_pwd').on('click',function(){
                $(this).attr('disabled','disabled');
                const id = $(this).attr('rel-id');
                layer.load();
                const formData = new FormData($('#myForm_pwd')[0]);
                parimesPost("/user/editUserPwd",formData).then((res)=>{
                    layer.msg(res.Msg);
                    if(res.status==1){
                        // 跳转
                        $('.bg').css('display','none');
                        $('.change').css('display','none');
                    }
                }).catch((error)=>{
                    layer.msg(error);
                })
                $(this).removeAttr('disabled');
                layer.closeAll('loading');
            })

        })
    </script>
{/block}