<html>
    <head>
        <meta charset="UTF-8" />
        <title>用户权限设置</title>
    </head>
    <body>
        <h2>{$Think.session.Nickname.username}</h2>
        <a href="{:url('/user/logOut')}">退出</a>

        <ul>
            <li><a href="{:url('/rule/authorityGroupList')}">权限分组</a></li>
            <li><a href="{:url('/rule/authorityList')}">规则列表</a></li>
            <li><a href="{:url('/user/listUser')}">用户授权</a></li>
        </ul>

        <script src="__JS__/jquery-3.4.1.min.js"></script>
        <script src="__JS__/parmies-ajax.js"></script>
        <script src="__JS__/layui/layui.js"></script>
        <script>
            layui.use(['layer'], function(){
                const layer = layui.layer;

                
            })
        </script>
    </body>
</html>